<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        Inserir funcionario
      </ion-item>
    <ion-list>
      <ion-input>Sobrenome</ion-input>
      <ion-input>Nome</ion-input>
      <ion-input>Cargo</ion-input>
      <ion-input>Data de nascimento</ion-input>
      <ion-input>Endereço</ion-input>
      <ion-input>Cidade</ion-input>
      <ion-input>CEP</ion-input>
      <ion-input>País</ion-input>
      <ion-input>Fone</ion-input>
      <ion-input>Salário</ion-input>
    </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
          <ion-item>
            Nome
          </ion-item>
          <ng-container *ngFor="let funcionario of this.funcionarios">
            <ion-item>
              <ion-label>
                {{funcionario.Nome}} - {{ funcionario.Cargo }}
              </ion-label>
              <ion-icon name="trash-outline" (click)="remover(funcionario.CodFun)"></ion-icon>
            </ion-item>
          </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>