<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        Inserir funcionario
      </ion-item>
    <ion-list>
      <ion-input [(ngModel)]="sobrenomeIP">Sobrenome</ion-input>
      <ion-input [(ngModel)]="nomeIP">Nome</ion-input>
      <ion-input [(ngModel)]="cargoIP">Cargo</ion-input>
      <ion-input [(ngModel)]="datanascIP">Data de nascimento</ion-input>
      <ion-input [(ngModel)]="enderecoIP">Endereço</ion-input>
      <ion-input [(ngModel)]="cidadeIP">Cidade</ion-input>
      <ion-input [(ngModel)]="cepIP">CEP</ion-input>
      <ion-input [(ngModel)]="paisIP">País</ion-input>
      <ion-input [(ngModel)]="foneIP">Fone</ion-input>
      <ion-input [(ngModel)]="salarioIP">Salário</ion-input>
      <ion-button>Enviar</ion-button>
    </ion-list>
    </ion-col>
    <ion-col>
      <ion-list>
          <ion-item>
            Nome
          </ion-item>
          <ng-container *ngFor="let funcionario of this.funcionarios">
            <ion-item>
              <ion-label>
                {{funcionario.Nome}} - {{ funcionario.Cargo }}
              </ion-label>
              <ion-icon name="trash-outline" (click)="remover(funcionario.CodFun)"></ion-icon>
              <ion-icon name="create-outline" (click)="atualizar(funcionario.CodFun)"></ion-icon>
            </ion-item>
          </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>